[Unit]
Description=auto login srun network
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=srun_login login username password

[Install]
WantedBy=default.target
